# Touched, for Bug 398016 - [CBI] How to coordinate (or not) submodules with Git and EGit
[submodule "eclipse.jdt.core"]
  path = eclipse.jdt.core
  url = https://github.com/felixdo/eclipse.jdt.core.git
